html {
  background-color: #f8f8f8;
  color: rgb(68, 68, 68);
  font-family: sans-serif;
}

body {
    padding: 20px;
    margin: auto;
    max-width: 70ch;
    line-height: 1.5;
}

a {
    color: #0059ce;
}

.nav-menu {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.nav-menu a {
    display: block;
    color: #0059ce;
    text-decoration: none;
}

.nav-menu .active {
    border-bottom: 2px solid #0059ce;
}

.base-title {
    margin: 0px;
}
.base-tagline {
    margin: 0px;
}