---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>About Me</h1>
    <hr>
    <p>I started programming and dabbling with software when I was 13 trying to create</p>
</BaseLayout>
