---
import '../styles/global.css'
import NavLink from './NavLink.astro';

const currentPath = Astro.url.pathname;
---
<div class="nav-menu">
    <NavLink url="/" title="Home" isActive={currentPath == "/"} />
    <NavLink url="/about" title="About" isActive={currentPath == "/about"} />
    <NavLink url="/blog" title="Blog" isActive={currentPath == "/blog"} />
</div>
